# dependencies
node_modules/

# build output
dist/

# environment variables
.env

# OS / editor junk
.DS_Store
Thumbs.db
.vscode/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
